@tailwind base;

/* Write your own custom base styles here */
@layer base {
  body {
    @apply bg-gray-900;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  div {
    @apply text-white;
  }
  p {
    @apply text-lg;
    @apply my-5;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  .font-subtitle {
    @apply mx-1 sm:mx-0;
  }
  blockquote {
    @apply border-white;
    @apply p-4;
    @apply italic;
    @apply text-gray-200;
    @apply bg-gradient-to-r from-pink-primary to-teal-primary bg-clip-text text-transparent;
    @apply text-lg;
    @apply font-semibold;
  }
  a {
    @apply bg-gradient-to-r from-pink-primary to-teal-primary bg-clip-text text-transparent;
  }
  ul {
    @apply my-5;
  }
  li {
    @apply pl-7 my-3;
  }
  ::selection {
    @apply bg-pink-primary;
    @apply text-white;
  }
  ::-moz-selection {
    @apply bg-pink-primary;
    @apply text-white;
  }
}

@layer components {
  .lead {
    @apply text-2xl;
  }
}

/* Start purging... */
@tailwind components;

/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
/* body {
  font-family: Inter, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
} */

hr {
  height: 2px;
}

button:hover,
a:hover {
  color: white;
  --tw-drop-shadow: drop-shadow(-40px -20px 1px rgba(241, 85, 255, 0.8)) drop-shadow(40px 20px 1px rgba(119, 255, 255, 0.8));
  filter: var(--tw-filter);
}

.logo-pink-glow {
  --tw-drop-shadow: drop-shadow(-6px -6px 1px rgba(241, 85, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.logo-teal-glow {
  --tw-drop-shadow: drop-shadow(6px 6px 1px rgba(119, 255, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.title-pink-glow {
  --tw-drop-shadow: drop-shadow(-3px -3px 1px rgba(241, 85, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.title-teal-glow {
  --tw-drop-shadow: drop-shadow(3px 3px 1px rgba(119, 255, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.button-pink-glow {
  --tw-drop-shadow: drop-shadow(-3px -2px 1px rgba(241, 85, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.button-teal-glow {
  --tw-drop-shadow: drop-shadow(3px 2px 1px rgba(119, 255, 255, 0.8));
  filter: var(--tw-drop-shadow);
}

.button-active {
  --tw-drop-shadow-pink: drop-shadow(-15px -4px 2px rgba(241, 85, 255, 0.8));
  --tw-drop-shadow-teal: drop-shadow(15px 4px 2px rgba(119, 255, 255, 0.8));
  filter: var(--tw-drop-shadow-pink) var(--tw-drop-shadow-teal);
  color: white;
}

.card-glow {
  position: relative;
  background: linear-gradient(90deg, #ff48fa, #78e4ff);
  padding: 2px;
}

ul {
  /* list-style-type: '\1F449'; */
  list-style-image: url('/images/bullet.svg');
  list-style-position: inside;
}
li::marker {
  margin-right: 24px;
}
